<div class='header'>
  <h1>MEMETUBE</h1>
</div>

<form id='new-form'>
  <div class='input-block'>
    <label for='title-input'>Title</label>
    <input name='title' id='title-input'>  
  </div>
  <div class='input-block'>
    <label for='description-input'>Description</label>
    <input name='description' id='description-input'>  
  </div>
  <div class='input-block'>
    <label for='url-input'>Url</label>
    <input name='url' id='url-input'>  
  </div>
  <div class='input-block'>
    <label for='genre-input'>Genre</label>
    <input name='genre' id='genre-input'>
  </div>
  <input type='submit' id='new-submit' value='Add'>
</form>

<ul id='video-list'></ul>

<div id='video-screen'>
</div>