<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memetube!</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/memetube.js"></script>
  </head>
  <body>

  <%= yield %>  

  </body>
</html>