<form action='/' method='post'>
  <div class='input-block'>
    <label for='title-input'>Title</label>
    <input name='title' id='title-input'>  
  </div>
  <div class='input-block'>
    <label for='description-input'>Description</label>
    <input name='description' id='description-input'>  
  </div>
  <div class='input-block'>
    <label for='url-input'>Url</label>
    <input name='url' id='url-input'>  
  </div>
  <div class='input-block'>
    <label for='genre-input'>Genre</label>
    <input name='genre' id='genre-input'>
  </div>
  <button>Add</button>
</form>