
<% if @newly_added %>
  <% @newly_added.each do |row|%>
    <p><%= "#{row['title']} has been added successfully" %></p>
  <% end %>
<% elsif @deleted %>
  <% @deleted.each do |row|%>
    <p><%= "#{row['title']} has been deleted" %></p>
  <% end %>
<% else %>
  <form action='/new' method='get'>
    <button id="add-video">Add Video</button>
  </form>
<% end %>


<div class='video-index'>
  <ul>
    <% if @videos %>
      <% @videos.each do |video| %>
        <li><a href="/<%= video['id'] %>"><%= video['title'] %></a></li>
      <% end %>
    <% end %>
  </ul>
</div>