body {
  background: hotpink
}

.title {
  text-align: center;
}

.video-index {
  text-align:center;
  list-style-type: none;
}

iframe {
  display: inherit;
  margin: 0 auto;
}

#video-list {
  display: inline-block;
  vertical-align: top;
}

#video-screen {
  display: inline-block;
}

form {
  text-align: center;
}

.input-block {
  display:block;
}